.image5:hover {
    transform: translate(20px,20px);
}

.image6:hover{
    transform: rotate(-50deg);
}

.image7:hover{
    transform: scale(2);
}

.image8:hover{
    transform: skew(50deg, -5deg);
}

@keyframes translate {
    0% {transform: translate(30px, -30px);}
  25%  {transform: translate(-20px, 20px)}
  50%  {transform: translate(90px, -90px);}
  100% {transform: translate(-70px, -70px);}    
}

@keyframes rotation {
    0% {transform: rotate(0deg);}
  25%  {transform: rotate(45deg);}
  50%  {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}    
}

.animation1
{
    animation-name: translate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.animation2:hover
{
    animation-name: rotation;
    animation-duration: 6s;
}

.box{
    height: 300px;
    width: 400px;
    background-color: powderblue;
  }

.ball {
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 50%;         /* Turns a square into a circle   */
    background-color: #FF5722;  /* Sets color to Orange           */
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

@keyframes bounce {
    0%  { transform: translate(0px,125px);}
    20% { transform: translate(185px,250px);}
    50% { transform: translate(350px,125px);}
    75% { transform: translate(185px, 0px);}
    100% { transform: translate(0px,125px);}
}